name: test

on: [push, pull_request]

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 3.1

  test:
    needs: ruby-versions
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: git config
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
        git config --global advice.detachedHead 0
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run test
      run: rake test
    - name: RDoc coverage
      run: rdoc -C
      if: ${{ matrix.ruby == needs.ruby-versions.outputs.latest && matrix.os == 'ubuntu-latest' }}
    - id: build
      run: |
        rake build:checksum
        ls -l pkg/*.gem checksums/*
        cat checksums/*
        echo "pkg=${GITHUB_REPOSITORY#*/}-${PLATFORM:-${RUNNING_OS%-*}}" >> $GITHUB_OUTPUT
      env:
        RUNNING_OS: ${{matrix.os}}
      if: >-
        ${{
        github.event_name == 'push' &&
        matrix.ruby == needs.ruby-versions.outputs.latest
        }}
      shell: bash
    - name: Upload package
      uses: actions/upload-artifact@v5
      with:
        path: pkg/*.gem
        name: ${{steps.build.outputs.pkg}}
      if: ${{ steps.build.outcome == 'success' }}
